main{
    background-image: linear-gradient(#fc2f7c, white);
    font-size: 1.2em;
}

.btn-cadastro {
    display: flex;
    justify-content: center;
}

.btn-cadastro button{
    background-color: blue;
    border-color: black;
    box-shadow: 5px 5px 8px rgba(0,0,0,4);
}

h1{
    position: relative;
    z-index: 2;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente para melhor contraste */
    border-radius: 10px;
    color: turquoise;
    font-family: 'Courier New', Courier, monospace
}

.lnk{
    font-size: 1.2em;
}