<main>
    <div class="banner">
        <h1>DESCUBRA EXPERIÊNCIAS</h1>
    </div>
    <div class="section1">
        <div id="fix">
            <h2>Em Alta</h2>
        </div>
        <div class="section1-1">
            <div class="bloco1">
                <h1>A Lenda de Shin Qui Han-Dô</h1>
                <div class="img">
                    <img src="./../../../assets/img/img1.png" alt="">
                </div>
                <button>Acessar</button>
            </div>
            <div class="bloco2">
                <h1>Dark Boy</h1>
                <div class="img">
                    <img src="./../../../assets/img/img2.jpg" alt="">
                </div>
                <button>Acessar</button>
            </div>
            <div class="bloco3">
                <h1>DonDonRonDon</h1>
                <div class="img">
                    <img src="./../../../assets/img/img3.jpg" alt="">
                </div>
                <button>Acessar</button>
            </div>
            <div class="bloco4">
                <h1>Japanese Classics Colection</h1>
                <div class="img">
                    <img src="./../../../assets/img/img4.jpg" alt="">
                </div>
                <button>Acessar</button>
            </div>
            <div class="bloco5">
                <h1>Potirá</h1>
                <div class="img">
                    <img src="./../../../assets/img/img5.jpg" alt="">
                </div>
                <button>Acessar</button>
            </div>
        </div>
    </div>
    <div class="section2">
        <div>
            <h2>Sobre</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero repellendus consequatur debitis voluptatem natus tempore recusandae quibusdam! Iste, perferendis facilis culpa odio, consequatur earum est repudiandae libero tempora voluptates ullam?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum aliquam expedita similique hic, quibusdam nisi? Molestias illo laudantium qui est, suscipit repellat at modi non a et, alias, mollitia possimus!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusamus eligendi quis id fuga ex iusto sapiente maiores cum. Atque ad incidunt id corrupti harum repudiandae et autem, consectetur eius.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia corrupti necessitatibus obcaecati at doloremque quis, ducimus soluta numquam sint explicabo ipsa aliquid iste quaerat? Non sequi rem inventore tempora porro?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero repellendus consequatur debitis voluptatem natus tempore recusandae quibusdam! Iste, perferendis facilis culpa odio, consequatur earum est repudiandae libero tempora voluptates ullam?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero repellendus consequatur debitis voluptatem natus tempore recusandae quibusdam! Iste, perferendis facilis culpa odio, consequatur earum est repudiandae libero tempora voluptates ullam?</p>
        
    </div>
</main>